<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="~{ layout :: head('회원가입')}">
</head>
<body>
<main class="container mt-5">
    <h3>회원가입</h3>
    <div class="mt-3 mb-3">
        <hr>
    </div>
    <form id="join-form" action="/member/join" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="userEmail" id="exampleInputEmail1" aria-describedby="emailHelp" onblur="emailCheck();">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="userPassword" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputNickName" class="form-label">Nick Name</label>
            <input type="text" class="form-control" name="userNickName" id="exampleInputNickName">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
        <input class="btn btn-primary" value="로그인" onclick="location.href='/member/loginForm'"></input>
    </form>

</main>
<script th:replace="~{layout::bootstrap-js}" ></script>
<script th:inline="javascript" >
    document.getElementById("join-form").onsubmit = function() {
    const userEmail = document.getElementById('exampleInputEmail1').value;
    const userPassword = document.getElementById('exampleInputPassword1').value;
    const userNickName = document.getElementById('exampleInputNickName').value;
    if (userEmail=='') {
        alert('이메일을 입력하세요');
        return false;
    }else if (userPassword==''){
        alert('비밀번호를 입력하세여');
        return false;
    } else if (userNickName==''){
        alert('닉네임을 입력하세여');
        return false;
    }
    return true;
}
        function emailCheck(){
        const userEmail = document.getElementById('exampleInputEmail1').value;
        const emailHelp = document.getElementById('emailHelp');
            $.ajax({
            type: 'POST',
            url: '/member/emailCheck',
            data: {"userEmail":userEmail},
            success: function(response){
                if(response=='ok'){
                    emailHelp.style.color = "green"
                    emailHelp.innerHTML = '사용 가능한 이메일입니다'
            } else {
                    emailHelp.style.color = 'red';
                    emailHelp.innerHTML = response;
            }

            },
            error: function(error){
                alert(error);
            }
        });
    }
</script>

</body>
</html>